@media only screen and (max-width: 768px) {
    .comments {
        margin-top: 20px;
    }
    .container {
        margin-top: 20px;
    }
    h3 {
        margin-top: 15px;
    }
}

.alert-danger {
    margin-top: 20px;
}

.alert-success {
    margin-top: 20px;
}


/* Overriding margin-top to make page more appealing */

.container {
    margin-top: 30px;
    margin-bottom: 10px;
}