.form-fields {
    margin-left: 40%;
    margin-right: 40%;
}

.button {
    margin-left: 45%;
}

@media only screen and (max-width: 768px) {
    .form-fields {
        margin-left: 30%;
        margin-right: 30%;
    }
}