h1 {
    text-align: center;
}

.container {
    border: 3px solid black;
    padding: 60px;
    background-color: white;
    margin-top: 100px;
}

body {
    background-image: url('/static/img/books4.jpeg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 100% auto;
}