{%extends "loggedInLayout.html" %} {% block title %} {{ book.title }} {% endblock %} {% block import%}
<style>
    #goodreads-widget {
        font-family: georgia, serif;
        padding: 18px 0;
        width: 565px;
    }
    
    #goodreads-widget h1 {
        font-weight: normal;
        font-size: 16px;
        border-bottom: 1px solid #BBB596;
        margin-bottom: 0;
    }
    
    #goodreads-widget a {
        text-decoration: none;
        color: #660;
    }
    
    iframe {
        background-color: #fff;
    }
    
    #goodreads-widget a:hover {
        text-decoration: underline;
    }
    
    #goodreads-widget a:active {
        color: #660;
    }
    
    #gr_footer {
        width: 100%;
        border-top: 1px solid #BBB596;
        text-align: right;
    }
    
    #goodreads-widget .gr_branding {
        color: #382110;
        font-size: 11px;
        text-decoration: none;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
</style>
{% endblock %} {% block body %}
<h1>{{ book.title }}</h1>
<div class="container">

    Author: {{ book.author }}<br> Year: {{ book.year }}<br> ISBN: {{ book.isbn }}<br> Good Reads Data:<br> Average Rating: {{ goodreads['books'][0]['average_rating'] }}<br>
    <form action="{{ url_for('review', isbn=book.isbn, username=username) }}" method="post">
        <textarea placeholder="Enter comment here" rows="5" cols="50" name="review"></textarea>
        <button type="submit">Submit Review</button>
    </form>

    <div id="goodreads-widget">
        <div id="gr_header">
            <h1><a rel="nofollow" href="https://www.goodreads.com/book/show/2956.The_Adventures_of_Huckleberry_Finn">Goodreads reviews for The Adventures of Huckleberry Finn</a></h1>
        </div>
        <iframe id="the_iframe" src="https://www.goodreads.com/api/reviews_widget_iframe?did=DEVELOPER_ID&format=html&header_text=Goodreads+reviews+for+The+Adventures+of+Huckleberry+Finn&isbn=0142437174&links=660&review_back=fff&stars=000&text=000" width="565"
            height="400" frameborder="0"></iframe>
        <div id="gr_footer">
            <a class="gr_branding" target="_blank" rel="nofollow noopener noreferrer" href="https://www.goodreads.com/book/show/2956.The_Adventures_of_Huckleberry_Finn?utm_medium=api&utm_source=reviews_widget">Reviews from Goodreads.com</a>
        </div>
    </div>


</div>
{% endblock %}