{% extends "layout.html" %} {% block title %}Login page{% endblock %} {% block import %}
<link rel="stylesheet" href="{{ url_for('static', filename='Stylesheets/base.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='Stylesheets/login.css') }}"> {% endblock %} {% block body %}
<div class="main-container">
    <div class="container">

        <!-- Code is refractored for when user wants to login or signup -->

        <!-- User wants to login -->
        {% if not signup %}
        <h1>Login</h1>
        <form action="{{ url_for('login') }}" method="post">
            <div class="form-fields">
                <div class="form-group">
                    <label for="Username">Username</label><br>
                    <input type="text" name="username" placeholder="Enter Username"><br>
                    <label for="Password">Password</label><br>
                    <input type="password" name="password" placeholder="Enter Password"><br>
                </div>
            </div>
            <div class="form-group">
                <input class="btn btn-primary button" type="submit" value="Login">
            </div>
        </form>
        {% else %}
        <!-- User wants to signup -->
        <h1>SignUp</h1>
        <form action="{{ url_for('signup') }}" method="post">
            <div class="form-group">
                <div class="form-fields">
                    <label for="Username">Full name</label><br>
                    <input type="text" name="name" placeholder="Enter Name"><br>
                    <label for="Username">Username</label><br>
                    <input type="text" name="username" placeholder="Enter username"><br>
                    <label for="Password">Password</label><br>
                    <input type="password" name="password" placeholder="Enter password"><br>
                </div>
            </div>
            <div class="form-group">
                <input class="btn btn-primary button" type="submit" value="Login">
            </div>
        </form>
        {% endif %} {% if val != 'None' %}
        <div class="alert alert-danger">
            <strong>Error!</strong> {{ val }}</a>.
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}