{% extends "loggedInLayout.html" %} {% block title %} Search Results {% endblock %} {% block import %} {% endblock %} {% block body %}
<h1>Search Results</h1>
<div class="container">
    {% if books == [] %}
    <h4>No results to show</h4>
    {% else %}
    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>ISBN</th>
            <th>Year</th>
        </tr>
        {% for book in books %}
        <tr>
            <td><a href=" {{ url_for('book', isbn=book[1], username=username) }} ">{{ book[2] }}</a></td>
            <td>{{ book[3] }}</td>
            <td>{{ book[1] }}</td>
            <td>{{ book[4] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}