{% extends "layout.html" %} {% block title %} Search Book {% endblock %} {% block import %} {% endblock %} {% block body %}
<h1>Search book</h1>

<div class="container">
    <form action="{{ url_for('search') }}" method="POST" class="form-horizontal">
        <div class="form-group">
            <label for="type" class="control-label col-sm-2">Search by</label>
            <input type="radio" name="options" value="author">Author</input>
            <input type="radio" name="options" value="isbn">ISBN</input>
            <input type="radio" name="options" value="title">Title</input>
            <input type="radio" name="options" value="year">Year</input><br>
        </div>
        <div class="form-group">
            <label for="search" class="control-label col-sm-2">Search</label>
            <input type="text" name="search" class="form-control">
        </div>
        <button type="submit">Search Book</button>
    </form>
</div>
{% endblock %}