{% extends "layout.html" %} {% block title %}Login page{% endblock %} {% block import %}
<link rel="stylesheet" href="{{ url_for('static', filename='Stylesheets/base.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='Stylesheets/welcome.css') }}"> {% endblock %} {% block body %}
<div class="main-container">
    <div class="container">
        <h1>Welcome to Project1</h1>
        <p id="para">A place to find the books you will love. From a large variety of 5000 books, you can review, learn and find the perfect read for your perfect weekend.<br><br><span id="devBy">Developed by</span> <span id="name">Aditya Goyal</span></p>
    </div>
</div>

{% endblock %}